.contact-container {
  background-color: white;
  .contact-row {
    width: 100%;
    padding: 9vh 8vw;
    display: flex;
    .left {
      width: 70%;
      text-align: left;
      padding: 4vh 4vw;
    }

    .right {
      padding: 4vh 4vw;
    }
  }
}

@media (max-width: 812px) {
  .contact-container {
    .contact-row {
      display: block;

      .left {
        width: 100%;
        // text-align: center;
      }

      .right {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media (max-width: 500px) {
  .contact-container {
    .contact-row {

      .left {
        padding: 0vh 0vw;
      }

      .right {
      }
    }
  }
}
