.projects-container {
  background-color: white;
  padding: 9vh 3vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .card {
    // height: 500px;
    // width: 500px;
    border: none;
    // padding: 5px;
    margin-bottom: 30px;
    height: 0;
    width: 31%;
    padding-bottom: 23.25%;
    display: block;
    background-color: #40AEDF;
  }

  .madwork {
    background: url('madwork_4_by_3_bigger.png');
    background-size: cover;
  }
}

@media (max-width: 812px) {
  .projects-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 9vh 5vw;

    .card {
      width: 100%;
      padding-bottom: 75%;
    }
  }
}
