<div class="navbar">
  <div class="name">
    <h2><strong>Francisco Barreto</strong></h2>
  </div>
  <div class="navigation-items">
    <%= link_to "Projects", root_path %>
    <%= link_to "Articles", articles_path %>
    <%= link_to "Contact", contact_path %>
    <%= link_to "https://github.com/franciscobarreto1997", target: :_blank do %>
      <i class="fab fa-github"></i>
    <% end %>
  </div>
  <div class="burguer-menu">
    <div class="lines"></div>
  </div>
</div>
