<div class="articles-container animated fadeIn">
  <div class="description">
    <h5>Behind the keyboard.</h5>
  </div>
  <div class="articles">
    <a class="card hvr-grow" id="watir-article" href="https://medium.com/@franciscoantunesbarreto1997/configuring-watir-with-ruby-on-rails-for-heroku-e96433854430" target="_blank">
    </a>
    <a class="card hvr-grow" id="localhost-article" href="https://medium.com/@franciscoantunesbarreto1997/accessing-localhost-from-your-phone-on-your-rails-app-96aaa91e29c4" target="_blank">
    </a>
  </div>
</div>
