<div class="contact-container animated fadeIn">
  <div class="contact-row">
    <div class="left">
      <h5>I'm a Ruby on Rails developer with 2+ years of experience, I'm currently teaching RoR at Le Wagon in <a href="https://www.lewagon.com/lisbon" target="_blank">Lisbon</a> and Le Wagon in <a href="https://www.lewagon.com/munich" target="_blank">Munich</a> while working as a freelancer, in my spare time I also like to build things.</h5>
    </div>
    <div class="right">
      <p>Contact</p>
      <br>
      <p>franciscoantunesbarreto1997@gmail.com</p>
    </div>
  </div>
</div>
