<div class="projects-container">
  <a class="card" href="/madwork">
    <div class="image">
    </div>
  </a>
  <a class="card" href="/madwork">
    <div class="image">
    </div>
  </a>
  <a class="card" href="/madwork">
    <div class="image">
    </div>
  </a>
  <a class="card" href="/madwork">
    <div class="image">
    </div>
  </a>
  <a class="card" href="/madwork">
    <div class="image">
    </div>
  </a>
  <a class="card" href="/madwork">
    <div class="image">
    </div>
  </a>
</div>
