<div class="projects-container animated fadeIn">
  <a class="card madwork hvr-grow" href="/madwork">
  </a>
  <a class="card hvr-grow">
  </a>
  <a class="card hvr-grow">
  </a>
  <a class="card hvr-grow">
  </a>
  <a class="card hvr-grow">
  </a>
  <a class="card hvr-grow">
  </a>
</div>
