<div class="projects-container">
  <a class="card madwork" href="/madwork">
  </a>
  <a class="card" href="/madwork">
  </a>
  <a class="card" href="/madwork">
  </a>
  <a class="card" href="/madwork">
  </a>
  <a class="card" href="/madwork">
  </a>
  <a class="card" href="/madwork">
  </a>
</div>
