<div class="project-container animated fadeIn">
  <div class="description">
    <h5><strong>MADWORK</strong> is a scraper that intends to help developers find job opportunities without having to search 50 different websites.
    </h5>
  </div>
  <div class="picture">
    <%= image_tag "madwork_pic_1.png" %>
  </div>
  <div class="description">
    <h5>The app was built using Ruby on Rails, ES6, Nokogiri, HTTParty, Watir and Selenium Webdriver.</h5>
  </div>
  <div class="picture">
    <%= image_tag "madwork_pic_2.png" %>
  </div>
  <div class="description">
    <h5>Building the app wasn't much of a technical challenge, the "hardest" part was coping with the tedious task of scraping different websites while dealing with the usual issues such as duplicated titles, weirdly formatted dates, IP address blocks and anti-scraping techniques.</h5>
  </div>
  <div class="picture">
    <%= image_tag "madwork_pic_3.png" %>
  </div>
  <div class="description">
    <h5>All in all, this project made me learn a ton about building scrapers and the power of Watir and
    Selenium Webdriver, which I naively thought was just a testing tool, but turns out to be a powerful tool that can be used for various other things like dynamic scraping and browser automation.</h5>
  </div>
  <div class="description">
    <%= link_to "Visit", "http://madwork.co/", target: :_blank, class: "hvr-float-shadow" %>
  </div>
</div>

