<div class="project-container animated fadeIn">
  <div class="description">
    <h5><strong>MADWORK</strong> is a scraper that intends to help developers find job opportunities without having to search 50 different websites.
    </h5>
  </div>
  <div class="first-picture">
    <%= image_tag "madwork_pic_1.png" %>
    <p>The app was built using Ruby on Rails, ES6, Nokogiri, HTTParty, Watir and Selenium Webdriver.</p>
  </div>
</div>

