.navbar {
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw;

  .navigation-items {
    display: flex;
    width: 300px;
    justify-content: space-between;
    font-size: 17px;
  }

  a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid transparent;
    transition: 0.5s all;

    &:hover {
      border-bottom: 1px solid black;
    }
  }

  .burguer-menu {
    display: none;

    i {
      font-size: 36px;
    }
  }
}

@media (max-width: 812px) {

  .navbar {
      padding: 5vw;

    .navigation-items {
      display: none !important;
    }

    .burguer-menu {
      display: flex !important;
    }
  }
}

@media (max-width: 550px) {
  .name h2 {
    font-size: 20px;
  }
}
